In [92]:
import pandas as pd
import numpy as np

Матрица попарных сравнений критериев.

In [93]:
criterion = {"Цель": ["K1", "K2", "K3", "K4", "K5", "K6", "Sum Si"],
             "K1": [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96],
             "K2": [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23],
             "K3": [7, 2, 1, 0.5, 4, 0.17, 14.67],
             "K4": [8, 3, 2, 1, 4, 0.33, 18.33],
             "K5": [4, 4, 0.25, 0.25, 1, 0.14, 9.64],
             "K6": [9, 7, 6, 3, 7, 1, 33],
             "Vi": [4.2684, 1.9560, 0.7736, 0.5, 1.3831, 0.2239, 9.1050],
             "W2i": [0.4688, 0.2148, 0.0850, 0.0549, 0.1519, 0.0246, 0],
             "Pi": [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]}

cri = pd.DataFrame(data=criterion)

In [94]:
cri

     Цель    K1    K2     K3     K4    K5  K6      Vi     W2i      Pi
0      K1  1.00  3.00   7.00   8.00  4.00   9  4.2684  0.4688  0.9199
1      K2  0.33  1.00   2.00   3.00  4.00   7  1.9560  0.2148  1.1227
2      K3  0.14  0.50   1.00   2.00  0.25   6  0.7736  0.0850  1.2461
3      K4  0.13  0.33   0.50   1.00  0.25   3  0.5000  0.0549  1.0068
4      K5  0.25  0.25   4.00   4.00  1.00   7  1.3831  0.1519  1.4648
5      K6  0.11  0.14   0.17   0.33  0.14   1  0.2239  0.0246  0.8115
6  Sum Si  1.96  5.23  14.67  18.33  9.64  33  9.1050  0.0000  6.5718

In [95]:
string = list(criterion.keys())
values = list(criterion.values())
print(values)

[['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'Sum Si'], [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96], [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23], [7, 2, 1, 0.5, 4, 0.17, 14.67], [8, 3, 2, 1, 4, 0.33, 18.33], [4, 4, 0.25, 0.25, 1, 0.14, 9.64], [9, 7, 6, 3, 7, 1, 33], [4.2684, 1.956, 0.7736, 0.5, 1.3831, 0.2239, 9.105], [0.4688, 0.2148, 0.085, 0.0549, 0.1519, 0.0246, 0], [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]]

In [103]:
V = []

for i in range(1, 7):
    val_list = values[i]
    Vi = 1
    for j in range(0, 6):
        Vi *= (1/val_list[j])
    Vi = round(pow(Vi, 1/6), 4)
    V.append(Vi)
    values[7] = V

values[7].append(round(sum(V), 4))
    
        
print(values)

[['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'Sum Si'], [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96], [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23], [7, 2, 1, 0.5, 4, 0.17, 14.67], [8, 3, 2, 1, 4, 0.33, 18.33], [4, 4, 0.25, 0.25, 1, 0.14, 9.64], [9, 7, 6, 3, 7, 1, 33], [4.2692, 1.9659, 0.771, 0.5008, 1.3878, 0.2239, 9.1186], [0.4688, 0.2148, 0.085, 0.0549, 0.1519, 0.0246, [...]], [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]]

In [ ]:
W = []

for i in range(1, 7):
    val_list = values[i]
    Vi = 1
    for j in range(0, 6):
        Vi *= (1/val_list[j])
    Vi = round(pow(Vi, 1/6), 4)
    V.append(Vi)
    values[7] = V

values[7].append(round(sum(V), 4))

In [104]:
cri

     Цель    K1    K2     K3     K4    K5  K6      Vi     W2i      Pi
0      K1  1.00  3.00   7.00   8.00  4.00   9  4.2684  0.4688  0.9199
1      K2  0.33  1.00   2.00   3.00  4.00   7  1.9560  0.2148  1.1227
2      K3  0.14  0.50   1.00   2.00  0.25   6  0.7736  0.0850  1.2461
3      K4  0.13  0.33   0.50   1.00  0.25   3  0.5000  0.0549  1.0068
4      K5  0.25  0.25   4.00   4.00  1.00   7  1.3831  0.1519  1.4648
5      K6  0.11  0.14   0.17   0.33  0.14   1  0.2239  0.0246  0.8115
6  Sum Si  1.96  5.23  14.67  18.33  9.64  33  9.1050  0.0000  6.5718

In [101]:
data = {"Название":["СПбГЭТУ «ЛЭТИ»", "РХТУ им. Д. И. Менделеева", "СЗИУ РАНХиГС", "УрФУ", "НИТУ «МИСиС»", "МГТУ им. Баумана", "КФУ", "СФУ",
                    "НИУ ВШЭ", "РТУ МИРЭА"], 
        "Баллы ЕГЭ, бюджет, min":[10, 10, 15, 10, 15, 10, 10, 5, 15, 10], 
        "Количество бюджетных мест, max":[5, 5, 5, 15, 15, 15, 15, 15, 10, 15],
        "Баллы ЕГЭ, платное, min":[10, 5, 15, 10, 15, 5, 5, 5, 15, 5], 
        "Количество платных мест, max":[10, 5, 10, 10, 10, 10, 5, 5, 15, 15],
        "Отзывы студентов, в 10-ти балной шкале, max":[5, 10, 2, 2, 10, 10, 5, 5, 5, 10], 
        "Количесво образовательных программ, max":[3, 3, 3, 8, 5, 5, 8, 8, 3, 3]
    }
    
df = pd.DataFrame(data=data)